<body>
    <div class="container mt-5" style="max-width: 75%; ">
        <div class="row mb-4">
            <div class="col-sm-6">
                <h2> Offers </h2>
                <div class="chartjs-block">
                    <canvas baseChart 
                        [datasets]="lineChartDataOffers" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend" 
                        [type]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            <div class="col-sm-6">
                <h2> Sold </h2>
                <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [type]="barChartType">
              </canvas>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6">
                <h2> Products</h2>
                <div class="chartjs-block">
                    <canvas baseChart 
                        [datasets]="lineChartDataProducts" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend" 
                        [type]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            <div class="col-sm-6">
                <h2> Users </h2>
                <div class="chartjs-block">
                    <canvas baseChart 
                        [datasets]="lineChartDataUsers" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend" 
                        [type]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</body>