<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="xsell">
    Xsell
  </a>
</nav>

<div *ngIf="!isSignedIn" class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <input type="email" #email/>
    <input type="password" #password/>
    <button (click)="onSignin(email.value,password.value)" type="button" class="btn btn-success">Sign In</button>
  </div>
</div>


