<nav class="navbar navbar-light bg-light" style="padding-top: 2%;padding-bottom: 2%;">
  <a class="navbar-brand">
    Xsell Administration
  </a>
</nav>

<section>
  <div class="container" *ngIf="!isSignedIn">
    <div class="row">
      <div style="margin-top: 14%;">
        <div class="card card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #email>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
            </div>
            <button (click)="onSignin(email.value,password.value)" type="button" class="btn btn-success">Sign In <i class="bi bi-person-fill"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

