<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 2%;padding-bottom: 2%;margin-bottom: -1%;">
    <a class="navbar-brand">
        <img src="../../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Xsell
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['']">Features</a>
            <a class="nav-item nav-link" [routerLink]="['/home']">Statistic</a>
            <a class="nav-item nav-link" [routerLink]="['/home']">Account</a>
        </div>
        <button class="ml-auto btn btn-success nav-link" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Logout</button>
    </div>
</nav>
